<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.CalReplyMapper">
   
   <insert id="insertCalReplyBoard" parameterType="CalDto">
      INSERT INTO hhcalreplyboard
        VALUES (NULL, #{seq}, #{id}, #{content})
   </insert>
   
   <select id="getCalReplyBoard" parameterType="Integer" resultType="CalDto">
         SELECT SEQ, ID, CONTENT
         FROM hhcalreplyboard
         WHERE SEQ = #{seq}
   </select>
   
</mapper>