<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.NewsBoardReplyMapper">
   
   <insert id="insertReplyBoard" parameterType="NewsBoardDto">
      INSERT INTO hhreplyboard
        VALUES (NULL, #{board_seq}, #{id}, #{content})
   </insert>
   
   <select id="showReplyBoard" parameterType="Integer" resultType="NewsBoardDto">
         SELECT SEQ, ID, CONTENT
         FROM hhreplyboard
         WHERE SEQ = #{board_seq}
   </select>
   
</mapper>